{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyonec Ecommerce: Best Market Prices</title>
    <link rel="stylesheet" href="{% static 'ecommerce/css/styles.css' %}" />
    <script src="{% static 'ecommerce/js/script.js' %}"></script>
  </head>
  <body>
    <h2 class="h1-global">Welcome to Lyonec ecommerce platform</h2>
    <h3 class="h3-welcome">{{ message }}</h3>
    <p class="paragraph_serve">We are here to serve you</p>
  </body>
</html>
